<div class="navbar-container">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'navbar-logo' %>
    <% end %>
  </div>

  <div class="navbar-right">
    <% if user_signed_in? %>

      <div class="navbar-links">
        <%= link_to root_path, class: 'navbar-link' do %>
          <i class="fa-regular fa-user"></i>
          <p class="btn-text">Mon profil</p>
        <% end %>

        <%= link_to root_path, class: 'navbar-link' do %>
          <i class="fa-regular fa-calendar"></i>
          <p class="btn-text">Objectif</p>
        <% end %>

        <%= link_to books_path, class: 'navbar-link' do %>
          <i class="fa-solid fa-chart-column"></i>
          <p class="btn-text">Récap</p>
        <% end %>
      </div>

    <% else %>

      <div class="navbar-links">
        <%= link_to new_user_session_path, class: 'navbar-link' do %>
          <i class="fa-regular fa-user"></i>
          <p class="btn-text">Se connecter</p>
        <% end %>
      </div>

    <% end %>
  </div>

<div class="navbar-search" data-controller="book-search">
  <form data-action="submit->book-search#search">
    <div class="search">
      <input class="search-input" id="search-input" type="search" placeholder="Rechercher un livre" data-book-search-target="query">
      <button type="submit" class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
    <% if flash[:alert] %>
      <p class="error-message"><%= flash[:alert] %></p>
  <% end %>
  <div id="search-results" data-book-search-target="results"></div>
</div>

  </div>
</div>
