<div class="row">
    <% @books.each do |book| %>
      <div class="col-3">
        <div class="card-book-index">
          <%= link_to book_path(book), class: 'book-index-link' do  %>
            <div class="img-book-index">
              <%= image_tag("book default.png") %>
            </div>
            <div class="card-book-info">
              <h3 class="book-index-title"><%= book.title %></h5>
              <div class="book-index-stars">
                <% 5.times do |i| %>
                  <% if i < book.rating %>
                    <%= content_tag(:i, "", class: "fa fa-star fa-star-blue") %>
                  <% else %>
                    <%= content_tag(:i, "", class: "fa fa-star fa-star-grey") %>
                  <% end %>
                <% end %>
              </div>
              <h4 class="book-index-author"><%= book.author %></h6>
              <div class="book-index-reading-status">
                <%= status_icon(book) %>
                <p><%= book.status.humanize %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
