<h1>Liste de mes livres</h1>

<%= link_to 'Nouveau livre', new_book_path, class: 'btn btn-primary mb-3' %>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>
    <div class="col-3">
      <div class="card-book-index">
        <div class="img-book-index">
          <%= image_tag("book default.png") %>
        </div>
        <h3 class="book-index-title"><%= link_to book.title, book_path(book) %></h5>
        <div class="book-index-stars">
          <% 5.times do |i| %>
              <% if i < book.rating %>
                <%= content_tag(:i, "", class: "fa fa-star fa-star-blue") %>
              <% else %>
                <%= content_tag(:i, "", class: "fa fa-star fa-star-grey") %>
              <% end %>
            <% end %>
        </div>
        <h4 class="book-index-author"><%= book.author %></h6>
        <div class="book-index-reading-status">
          <p class="card-text">
            <strong>Statut :</strong> <%= book.status.humanize %>
          </p>

    </div>
    <% end %>
  </div>
</div>
