<%= link_to 'Modifier', edit_book_path(@book), class: 'btn btn-secondary' %>
<%= link_to 'Supprimer', book_path(@book), data: { "turbo-method": :delete }, class: 'btn btn-danger' %>
<%= link_to "Retour à ma bibliothèque", books_path  %>

<%= @book.title %>
<%= @book.author %>
<%= @book.published_year %>
<%= @book.number_of_pages %>

<p>Ajoutez une description</p>

<p>Ma lecture</p>

<p><strong>Note :</strong>
  <% if @rating %>
    <%= @rating.note %> / 5
  <% else %>
    Aucune note attribuée
  <% end %>
</p>

<% if @rating %>
  <h3>Évaluer ce livre</h3>
  <%= simple_form_for [@book, @rating] do |f| %>
    <%= f.input :note, as: :select, collection: (1..5).to_a, label: 'Note' %>
    <%= f.button :submit %>
    <% if @rating.persisted? %>
      <%= link_to "Supprimer ma note", book_rating_path(@book, @rating), data: { turbo_method: :delete }, class: "btn btn-danger" %>
    <% end %>
  <% end %>
<% end %>


<% if @comment.persisted? %>
  <%= @comment.content %>
  <h3>Modifier votre commentaire</h3>
  <%= simple_form_for [@book, @comment], method: :patch do |f| %>
    <%= f.input :content, label: 'Modifier le commentaire', input_html: { value: @comment.content } %>
    <%= f.button :submit, "Mettre à jour" %>
  <% end %>
  <%= link_to 'Supprimer', book_comment_path(@book, @comment), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
<% else %>
  <h4>Ajouter un commentaire</h4>
  <%= simple_form_for [@book, @comment] do |f| %>
    <%= f.input :content, label: 'Commentaire' %>
    <%= f.button :submit %>
  <% end %>
<% end %>


<% if @reading.persisted? %>
  <p><%= @reading.status %></p>
  <p><%= @reading.start_date %></p>
  <p><%= @reading.end_date %></p>
  <p><%= @reading.number_pages_read %></p>
  <p><strong>Progression de lecture :</strong> <%= @reading.completion_percentage %> %</p>
  <h3>Modifier ma lecture</h3>
  <%= simple_form_for [@book, @reading], method: :patch do |f| %>
    <%= f.input :status, collection: Reading::STATUSES.map { |key, value| [value.humanize, value] }, prompt: 'Sélectionner un statut', label: 'Statut' %>
    <%= f.input :start_date, as: :date, label: 'Date de début' %>
    <%= f.input :end_date, as: :date, label: 'Date de fin' %>
    <%= f.input :number_pages_read, as: :integer, label: 'Pages lues' %>
    <%= f.submit 'Modifier ma lecture', class: 'btn btn-primary' %>
    <%= link_to "Supprimer ma lecture", book_reading_path(@book, @reading), data: { turbo_method: :delete }, class: "btn btn-danger" %>
  <% end %>
<% else %>
  <p>Aucune lecture en cours</p>
  <h3>Commencer une nouvelle lecture</h3>
  <%= simple_form_for [@book, @reading] do |f| %>
    <%= f.input :status, collection: Reading::STATUSES.map { |key, value| [value.humanize, value] }, prompt: 'Sélectionner un statut', label: 'Statut' %>
    <%= f.input :start_date, as: :date, label: 'Date de début', include_blank: true %>
    <%= f.input :end_date, as: :date, label: 'Date de fin', include_blank: true %>
    <%= f.input :number_pages_read, as: :integer, label: 'Pages lues' %>
    <%= f.button :submit, 'Enregistrer', class: 'btn btn-primary' %>
  <% end %>
<% end %>
